/*
@font-face {
    font-family: "vl_gothic";
    src: url("/font/VL-Gothic-Regular.woff") format("woff");
}
*/

@font-face {
    font-family: "hackgen_console";
    src: url("/font/HackGenConsole-Regular.woff") format("woff");
}

* {
  line-height: 150%;
  box-sizing: border-box;
  font-family: hackgen_console, monospace;
}

select {
  font-family: inherit;
}

body {
  padding: 0.5rem 3%;
  color: #333;
}

table {
  border-collapse: collapse;
  margin: 1rem 0;
}
th, td {
  border: solid 1px #ccc;
  padding: 0.1rem 0.5rem;
}
th {
  background: #f4f4f4;
}

hr {
  border: solid #ddd;
  border-width: 0.1rem 0 0 0;
}

a {
  text-decoration: none;
  color: #06a;
}
a:visited {
  color: #268;
}
a:hover {
  color: #c00;
}

button {
  margin: 0.3rem;
}

#guard_layer {
  background: rgba(200,200,200, 0.1);
  position: fixed;
  left: 0; top: 0; width: 100%; height: 100%;
  padding: 0.5rem;

  /* 子要素を上下左右の中央に配置 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.msg_err {
  font-family: monospace;
  color: #d00;
}

a {
  text-decoration: none;
  color: #06a;
}
a:visited {
  color: #268;
}
a:hover {
  color: #c00;
}

input, button, select {
  margin: 0.2rem;
}

.pagination {
  padding: 0.3rem 0;
}

#err_msg {
  background: #fee;
  color: #200;
  padding: 0.1rem 0.3rem;
  font-size: 80%;
  display: none;
}

.debug_box {
  background: #f8f8f8;
  color: #444;
  border: solid 0.1rem #e8e8e8;
  padding: 0.3rem;
  font-size: 80%;
  line-height: 120%;
}

.debug_box_fold {
  height: 10rem;
  overflow: scroll;
}
.debug_box_expand {
  height: auto;
}

.invalid_sign {
  box-shadow: 0 0 0.1rem 0.1rem rgba(255, 0, 0, 0.5);
  color: #c00;
}

.tag_link {
  border: solid 0.1rem #e8e8e8;
  background: #f8f8f8;
  display: inline-block;
  padding: 0.1rem 0.2rem;
  margin: 0.2rem;
  border-radius: 0.2rem;
}

.clickable_thead {
  cursor: pointer;
}

.telomere {
  margin: 0;
  display: inline-block;
  height: 1rem;
}

.telomere_5m   { background: #d00; width: 0.60rem; }
.telomere_30m  { background: #c66; width: 0.40rem; }
.telomere_1h   { background: #c88; width: 0.30rem; }
.telomere_4h   { background: #caa; width: 0.20rem; }
.telomere_1d   { background: #cbb; width: 0.15rem; }
.telomere_1w   { background: #ccc; width: 0.10rem; }
.telomere_1mon,
.telomere_1y,
.telomere_gt_1y
               { background: #ccc; width: 0.0rem; }

.tdef_table th
, .tdef_table td {
  font-size: 80%;
}

.cdef_table th
, .cdef_table td {
  font-size: 80%;
}

.memo {
  white-space: pre-wrap;
  max-width: 30rem;
  word-wrap: break-word;
  font-size: 0.7rem;
}

/* td に付ける */
.memo_cell, .my_memo_cell {
  vertical-align: top;
}

.hover_hl tr:hover {
  background: #f0f8fc;
}

/* TODO .label_hl は古いので廃止すること */
.label_hl
, .container_label
{
  display: inline-block;
  padding: 0.1rem 0.5rem;
  margin: 0.2rem;
  border: solid 0.1rem rgba(0,0,0, 0.08);
  border-radius: 0.2rem;
/*
  border: solid 1px red;
*/
}
/* TODO .label_hl:hover は古いので廃止すること */
.label_hl:hover
, .container_label:hover
{
  border: solid 0.1rem #aaa;
}
/* TODO .label_selected は古いので廃止すること */
.label_selected
, .container_label_selected
{
  /*
  background: #e8f4f8;
  */
  background: #d0f0f4;
  border: solid 0.1rem rgba(0,0,0, 0.1);
}

.input_name {
  width: 20rem;
}

.box {
  border: solid 0.1rem #f0f0f0;
}
.box_indent {
  margin-left: 2rem;
}
